In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

from fastai.imports import *
from fastai.tabular import * 
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

# Importing data
 Combining train+test into full dataframe

In [2]:
train = pd.read_csv("titanic_train.csv", low_memory="False")
test = pd.read_csv("test.csv", low_memory="False")
full = pd.concat(objs=[train, test], axis=0).reset_index(drop=True)
full = full.drop('Ticket', axis = 1)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
'''path = "titanic_train.csv"
df = pd.read_csv(path)

df = df.drop(['Cabin', 'PassengerId'], axis=1)

dataset_title = [i.split(",")[1].split(".")[0].strip() for i in df["Name"]]
df["Title"] = pd.Series(dataset_title)
df["Title"] = df["Title"].replace(['Lady', 'the Countess','Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
df["Title"] = df["Title"].map({"Master":0, "Miss":1, "Ms" : 1 , "Mme":1, "Mlle":1, "Mrs":1, "Mr":2, "Rare":3})
df["Title"] = df["Title"].astype(int)
df.drop(labels = ["Name"], axis = 1, inplace = True)
cont_list, cat_list = cont_cat_split(df=df, max_card=20, dep_var='Survived')

train_df, valid_df = df.iloc[:800].copy(), df.iloc[800:].copy()


tfm = Categorify(cat_list, cont_list)
tfm(train_df)
tfm(valid_df, test=True)

tfm = FillMissing(cat_list, cont_list)
tfm(train_df)
tfm(valid_df, test=True)

norm = Normalize(cat_list, cont_list)
norm.apply_train(train_df)
norm.apply_test(valid_df)'''

        Age      Fare
0 -0.576230 -0.500506
1  0.654718  0.742257
2 -0.268493 -0.487405
3  0.423915  0.389354
4  0.423915 -0.484979

In [25]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          615
Embarked         1
Age_na           0
dtype: int64

In [20]:
display_all(df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
800,801,0,2,NaN,male,34.00,0,0,250647,13.0000,NaN,S
801,802,1,2,NaN,female,31.00,1,1,C.A. 31921,26.2500,NaN,S
802,803,1,1,NaN,male,11.00,1,2,113760,120.0000,B96 B98,S
803,804,1,3,NaN,male,0.42,0,1,2625,8.5167,NaN,C
804,805,1,3,NaN,male,27.00,0,0,347089,6.9750,NaN,S
805,806,0,3,NaN,male,31.00,0,0,347063,7.7750,NaN,S
806,807,0,1,NaN,male,39.00,0,0,112050,0.0000,NaN,S
807,808,0,3,NaN,female,18.00,0,0,347087,7.7750,NaN,S
808,809,0,2,NaN,male,39.00,0,0,248723,13.0000,NaN,S
809,810,1,1,NaN,female,33.00,1,0,113806,53.1000,E8,S
810,811,0,3,NaN,male,26.00,0,0,3474,7.8875,NaN,S
811,812,0,3,NaN,male,39.00,0,0,A/4 48871,24.1500,NaN,S
812,813,0,2,NaN,male,35.00,0,0,28206,10.5000,NaN,S
813,814,0,3,NaN,female,6.00,4,2,347082,31.2750,NaN,S
814,815,0,3,NaN,male,30.50,0,0,364499,8.0500,NaN,S
815,816,0,1,NaN,male,NaN,0,0,112058,0.0000,NaN,S
816,817,0,3,NaN,female,23.00,0,0,STON/O2. 3101290,7.9250,NaN,S
817,818,0,2,NaN,male,31.00,1,1,S.C./PARIS 2079,37.0042,NaN,C
818,819,0,3,NaN,male,43.00,0,0,C 7075,6.4500,NaN,S
819,820,0,3,NaN,male,10.00,3,2,347088,27.9000,NaN,S
820,821,1,1,NaN,female,52.00,1,1,12749,93.5000,NaN,S
821,822,1,3,NaN,male,27.00,0,0,315098,8.6625,NaN,S
822,823,0,1,NaN,male,38.00,0,0,19972,0.0000,NaN,S
823,824,1,3,NaN,female,27.00,0,1,392096,12.4750,E121,S
824,825,0,3,NaN,male,2.00,4,1,3101295,39.6875,NaN,S
825,826,0,3,NaN,male,NaN,0,0,368323,6.9500,NaN,Q
826,827,0,3,NaN,male,NaN,0,0,1601,56.4958,NaN,S
827,828,1,2,NaN,male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C
828,829,1,3,NaN,male,NaN,0,0,367228,7.7500,NaN,Q
829,830,1,1,NaN,female,62.00,0,0,113572,80.0000,B28,NaN
830,831,1,3,NaN,female,15.00,1,0,2659,14.4542,NaN,C
831,832,1,2,NaN,male,0.83,1,1,29106,18.7500,NaN,S
832,833,0,3,NaN,male,NaN,0,0,2671,7.2292,NaN,C
833,834,0,3,NaN,male,23.00,0,0,347468,7.8542,NaN,S
834,835,0,3,NaN,male,18.00,0,0,2223,8.3000,NaN,S
835,836,1,1,NaN,female,39.00,1,1,PC 17756,83.1583,NaN,C
836,837,0,3,NaN,male,21.00,0,0,315097,8.6625,NaN,S
837,838,0,3,NaN,male,NaN,0,0,392092,8.0500,NaN,S
838,839,1,3,NaN,male,32.00,0,0,1601,56.4958,NaN,S
839,840,1,1,NaN,male,NaN,0,0,11774,29.7000,NaN,C
840,841,0,3,NaN,male,20.00,0,0,SOTON/O2 3101287,7.9250,NaN,S
841,842,0,2,NaN,male,16.00,0,0,S.O./P.P. 3,10.5000,NaN,S
842,843,1,1,NaN,female,30.00,0,0,113798,31.0000,NaN,C
843,844,0,3,NaN,male,34.50,0,0,2683,6.4375,NaN,C
844,845,0,3,NaN,male,17.00,0,0,315090,8.6625,NaN,S
845,846,0,3,NaN,male,42.00,0,0,C.A. 5547,7.5500,NaN,S
846,847,0,3,NaN,male,NaN,8,2,CA. 2343,69.5500,NaN,S
847,848,0,3,NaN,male,35.00,0,0,349213,7.8958,NaN,C
848,849,0,2,NaN,male,28.00,0,1,248727,33.0000,NaN,S
849,850,1,1,NaN,female,NaN,1,0,17453,89.1042,C92,C
850,851,0,3,NaN,male,4.00,4,2,347082,31.2750,NaN,S
851,852,0,3,NaN,male,74.00,0,0,347060,7.7750,NaN,S
852,853,0,3,NaN,female,9.00,1,1,2678,15.2458,NaN,C
853,854,1,1,NaN,female,16.00,0,1,PC 17592,39.4000,NaN,S
854,855,0,2,NaN,female,44.00,1,0,244252,26.0000,NaN,S
855,856,1,3,NaN,female,18.00,0,1,392091,9.3500,NaN,S
856,857,1,1,NaN,female,45.00,1,1,36928,164.8667,NaN,S
857,858,1,1,NaN,male,51.00,0,0,113055,26.5500,NaN,S
858,859,1,3,NaN,female,24.00,0,3,2666,19.2583,NaN,C
859,860,0,3,NaN,male,NaN,0,0,2629,7.2292,NaN,C
860,861,0,3,NaN,male,41.00,2,0,350026,14.1083,NaN,S
861,862,0,2,NaN,male,21.00,1,0,28134,11.5000,NaN,S
862,863,1,1,NaN,female,48.00,0,0,17466,25.9292,D17,S
863,864,0,3,NaN,female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,NaN,male,24.00,0,0,233866,13.0000,NaN,S
865,866,1,2,NaN,female,42.00,0,0,236852,13.0000,NaN,S
866,867,1,2,NaN,female,27.00,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,NaN,male,31.00,0,0,PC 17590,50.4958,NaN,S
868,869,0,3,NaN,male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,NaN,male,4.00,1,1,347742,11.1333,NaN,S
870,871,0,3,NaN,male,26.00,0,0,349248,7.8958,NaN,S
871,872,1,1,NaN,female,47.00,1,1,11751,52.5542,D35,S
872,873,0,1,NaN,male,33.00,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,NaN,male,47.00,0,0,345765,9.0000,NaN,S
874,875,1,2,NaN,female,28.00,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,NaN,female,15.00,0,0,2667,7.2250,NaN,C
876,877,0,3,NaN,male,20.00,0,0,7534,9.8458,NaN,S
877,878,0,3,NaN,male,19.00,0,0,349212,7.8958,NaN,S
878,879,0,3,NaN,male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,NaN,female,56.00,0,1,11767,83.1583,NaN,C
880,881,1,2,NaN,female,25.00,0,1,230433,26.0000,NaN,S
881,882,0,3,NaN,male,33.00,0,0,349257,7.8958,NaN,S
882,883,0,3,NaN,female,22.00,0,0,7552,10.5167,NaN,S
883,884,0,2,NaN,male,28.00,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,NaN,male,25.00,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,NaN,female,39.00,0,5,382652,29.1250,NaN,Q
886,887,0,2,NaN,male,27.00,0,0,211536,13.0000,NaN,S
887,888,1,1,NaN,female,19.00,0,0,112053,30.0000,NaN,S
888,889,0,3,NaN,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,NaN,male,26.00,0,0,111369,30.0000,NaN,C
890,891,0,3,NaN,male,32.00,0,0,370376,7.7500,NaN,Q

# Cleaning

In [236]:
# Percentage of missing values per column
display_all(full.isnull().sum().sort_index()/len(full))

Age            0.200917
Cabin          0.774637
Embarked       0.001528
Fare           0.000764
Name           0.000000
Parch          0.000000
PassengerId    0.000000
Pclass         0.000000
Sex            0.000000
SibSp          0.000000
Survived       0.319328
dtype: float64

In [237]:
full.isnull().sum()

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
dtype: int64

Using sklearn and pandas to fill missing values and encode categoricals

In [238]:
from sklearn.preprocessing import OneHotEncoder

full['Embarked'] = full['Embarked'].fillna('S')
full['Fare'] = full['Fare'].fillna(full['Fare'].median())
full['CategoricalFare'] = pd.qcut(full['Fare'], 4)

In [239]:
full.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,CategoricalFare
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,"(-0.001, 7.896]"
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,"(31.275, 512.329]"
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,"(7.896, 14.454]"
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,"(31.275, 512.329]"
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,"(7.896, 14.454]"

In [240]:
full.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,CategoricalFare
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,"(-0.001, 7.896]"
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,"(31.275, 512.329]"
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,"(7.896, 14.454]"
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,"(31.275, 512.329]"
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,"(7.896, 14.454]"

In [241]:
full.isnull().sum()

Age                 263
Cabin              1014
Embarked              0
Fare                  0
Name                  0
Parch                 0
PassengerId           0
Pclass                0
Sex                   0
SibSp                 0
Survived            418
CategoricalFare       0
dtype: int64

It appears to have worked!

fastAI code for finding feature categories, just in case

In [17]:
cont_list, cat_list = cont_cat_split(df=df, max_card=20, dep_var='Survived')
cont_list, cat_list

(['PassengerId', 'Age', 'Fare'],
 ['Pclass', 'Name', 'Sex', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'])

In [18]:
cat_names = ['Cabin', 'Embarked', 'Name', 'Parch', 'Pclass', 'Sex', 'SibSp']
cont_names = ['Age', 'Fare', 'PassengerId']

In [244]:
display_all(full)

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,CategoricalFare
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,"(-0.001, 7.896]"
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,"(31.275, 512.329]"
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,"(7.896, 14.454]"
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,"(31.275, 512.329]"
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,"(7.896, 14.454]"
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,"(7.896, 14.454]"
1305,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,"(31.275, 512.329]"
1306,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,"(-0.001, 7.896]"
1307,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,"(7.896, 14.454]"
1308,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,"(14.454, 31.275]"

# Feature Engineering

In [245]:
full = full.drop('Cabin', axis=1)

dataset_title = [i.split(",")[1].split(".")[0].strip() for i in full["Name"]]
full["Title"] = pd.Series(dataset_title)
full["Title"] = full["Title"].replace(['Lady', 'the Countess','Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
full["Title"] = full["Title"].map({"Master":0, "Miss":1, "Ms" : 1 , "Mme":1, "Mlle":1, "Mrs":1, "Mr":2, "Rare":3})
full["Title"] = full["Title"].astype(int)
full.drop(labels = ["Name"], axis = 1, inplace = True)
full.head()

,Age,Embarked,Fare,Parch,PassengerId,Pclass,Sex,SibSp,Survived,CategoricalFare,Title
0,22.0,S,7.2500,0,1,3,male,1,0.0,"(-0.001, 7.896]",2
1,38.0,C,71.2833,0,2,1,female,1,1.0,"(31.275, 512.329]",1
2,26.0,S,7.9250,0,3,3,female,0,1.0,"(7.896, 14.454]",1
3,35.0,S,53.1000,0,4,1,female,1,1.0,"(31.275, 512.329]",1
4,35.0,S,8.0500,0,5,3,male,0,0.0,"(7.896, 14.454]",2

# Splitting into train/test sets from full dataframe

In [246]:
x = full.loc[:, full.columns != 'Survived']
y = full.Survived

In [247]:
# create a split set to avoid overfitting
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=17)

# Random Forest Classifier

In [248]:
clf = RandomForestClassifier(n_jobs=-1, n_estimators=3000, random_state=42, oob_score=True)
clf.fit(X_train, y_train)
y_pred=clf.predict(X_test)

from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

ValueError: could not convert string to float: 'S'

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier

forest = ExtraTreesClassifier(n_estimators=1000, random_state=17, n_jobs=-1)
forest.fit(X_train, y_train)
y_pred = forest.predict(X_test)
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
importances = forest.feature_importances_
std = np.std([tree.feature_importances_ for tree in forest.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(X_train.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

# Plot the feature importances of the forest
plt.figure()
plt.title("Feature importances")
plt.bar(range(X_train.shape[1]), importances[indices],
       color="r", yerr=std[indices], align="center")
plt.xticks(range(X_train.shape[1]), indices)
plt.xlim([-1, X_train.shape[1]])
plt.show()